fastapi
python-multipart
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
colorlog
sqlalchemy
psycopg2-binary
alembic

tqdm
qdrant-client
truststore>=0.10.4; platform_system == "Windows"
sentence-transformers

langchain
langsmith
langchain-community
langchain-openai
openai

pypdf
python-docx
beautifulsoup4
markdown

gitpython
requests

pytest
httpx

pydantic
pydantic-settings
python-dotenv
pymupdf


sqlalchemy
psycopg2-binary
alembic

pymupdf
python-docx
beautifulsoup4
markdown

sentence-transformers
openai
requests
pandas

langchain 
langchain-openai 
langchain-core
